

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    max-height: auto;

}
html,
body {
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
.container{
    flex: 1 0 auto;
}
#data{
    margin: 10% 0;
    font-size: 2em;

}

.weatherDisplay{
    display:grid;
    max-width: 100%;
    grid-template-columns:repeat(7, 1fr);
    grid-template-rows: auto;
}
.box{

    font-size: 1em;
}
.btn:focus{
    content:" ";
}
footer{
    text-align: center;
    margin-top: 10%;
}